#products {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  ul {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);

    li {
      list-style: none;
      padding: 10px 10px 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      overflow: hidden;

      a {
        display: inline-block;
        color: #333;
        overflow: hidden;
        .item-img {
          margin-bottom: 8px;
          img {
            max-width: 170px;
            max-height: 180px;
            min-height: 100px;
          }
        }
        h3 {
          font-size: 14px;
          margin-bottom: 8px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .price {
          color: #d0021c;
          font-size: 18px;
          margin-bottom: 8px;
        }
        .vote-txt {
          color: #fb6e2e;

          img {
            width: 12px;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 680px) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media only screen and (min-width: 1024px) {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
